services:
  postgres:
    image: postgres:16
    container_name: go_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U go_user -d go_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    env_file:
      - .env
    container_name: go_adminer
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
      ADMINER_DEFAULT_DB: mydb
      ADMINER_DEFAULT_USER: admin
      ADMINER_DEFAULT_SYSTEM: PostgreSQL

volumes:
  postgres_data: